html {
  box-sizing: border-box;
  margin: 0;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%; 
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.CostoInterior {
  color: orange;
  font-size: 14px;
  line-height: 21px;
}
.CostoGratis {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: .5rem;
  color: #00A650;
  font-size: 14px;
  line-height: 21px;
}
.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(239, 246, 235);
  padding: 1rem 0;
}
.detalleContainer {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 1fr;
}
.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 1rem;
  width: 35rem;
}
.m-0 {
  margin: 0;
}
.mt-4 {
  margin: .25rem 0;
}
.mt-8 {
  margin: .5rem 0;
}
.mt-12 {
  margin: .75rem 0;
}
.mt-16 {
  margin: 1rem 0;
}

.title {
  color: #333;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 10px;
}
.price {
  color: #333;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3;
}
.sales {
  font-size: 14px;
  font-weight: 400;
}

.mainDetalle {
  grid-column: 1/2;
  grid-row: 2/3;
}
.titleInformacion {
  text-align: start;
}

.carousel-image {
  width: 100%;
  height: 430px; /* Set a fixed height */
  object-fit: cover; /* Ensure the images cover the area without distortion */
}

.infoGeneral {
  margin-top: 10px;
  text-align: center;
}

.infoGeneral h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.infoGeneral p {
  font-size: 18px;
}

.infoGeneral ul {
  list-style-type: none;
  padding: 0;
}

.infoGeneral li {
  margin: 10px 0;
}

.infoGeneral a {
  color: #007bff;
  text-decoration: none;
}

.infoGeneral a:hover {
  text-decoration: underline;
}




.column-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.column-container a,
.column-container button {
  margin-bottom: 10px;
}

.btMercadoPago {
  background-color: #535bf2;
}

.divVisible {
  visibility: visible;
}

.divInvisible {
  visibility: hidden;
}
